@import url('https://fonts.googleapis.com/css2?famy=Montserrat&display=swap');

:root {
    --primary-colore: #e11d48;
}
body {
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin: 2rem 0rem;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;

}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-colore );
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {

    color: var(--primary-colore);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-colore) ;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-colore);
    color: white;
    padding: 1rem;

}

.navigation .link {
    color: white;
}